<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shirossm.mapper.PermissionMapper">
	
	<select id="findAll" resultType="com.shirossm.pojo.Permission">
		select * from sys_permissions
	</select>

</mapper>