<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shirossm.mapper.UserMapper">

    <!-- 用户登录的方法 -->
    <select id="findByName" parameterType="com.shirossm.pojo.User" resultType="User">
        select * from tb_user where username = #{username}
    </select>

	<insert id="create" parameterType="com.shirossm.pojo.User">
		INSERT INTO
        sys_users(username,password,salt,locked)
        VALUES
        (#{username},#{password},#{salt},#{locked})
	</insert>

	<select id="findRoles" parameterType="String" resultType="com.shirossm.pojo.Role">
		SELECT r.id, r.role, r.description FROM
        sys_users u, sys_roles r, sys_users_roles ur
        WHERE
        u.username = #{username}
        AND
        u.id = ur.user_id
        AND
        r.id = ur.role_id
	</select>
	
	<!-- 根据用户名查找其它权限 -->
	<select id="findPermissions" parameterType="String" resultType="com.shirossm.pojo.Permission">
        SELECT p.id, p.permission, p.description FROM
        sys_users u, sys_roles r, sys_permissions p, sys_users_roles ur, sys_roles_permissions rp
        WHERE
        u.username = #{username}
        AND
        u.id = ur.user_id
        AND
        r.id = ur.role_id
        AND
        r.id = rp.role_id
        AND
        p.id = rp.permission_id
    </select>

</mapper>